build --workspace_status_command=tools/workspace_status.sh --incompatible_load_python_rules_from_bzl=false
run --workspace_status_command=tools/workspace_status.sh --incompatible_load_python_rules_from_bzl=false
test --workspace_status_command=tools/workspace_status.sh --incompatible_load_python_rules_from_bzl=false
